*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: linen;
}

/*
==============================================================
==============================================================
HEADER
==============================================================
==============================================================
*/
h1 {
    background-color: linen;
    text-align: center;
    float: right;
    width: 25%;
    padding-top: 7px;
}

nav ul {
    list-style-type: none;
    background-color: linen;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 16px 20px;
    font-size: 1.3em;
}

nav li a:hover {
    background-color: rgb(211, 202, 193);
}

/*
==============================================================
==============================================================
Article
==============================================================
==============================================================
*/

article h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

article a {
    color: black;
    text-decoration: none;
}

.card {
    background-color: rgb(221, 212, 204);
    padding:1em;
    margin: 20px;
}

.left_column {
    float: left;
    width: 75%;
}

.right_column {
    float: left;
    width: 25%;
}

.card_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 35px;
}

.fake_image {
    background-color: gray;
    width: 100%;
    height: 60px;
}

.small_column {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

