*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgb(211, 202, 193);
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: linen;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 16px 20px;
    font-size: 1.3em;
}

nav li a:hover {
    background-color: rgb(211, 202, 193);
}