*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: linen;
}

/*
==============================================================
==============================================================
HEADER
==============================================================
==============================================================
*/
h1 {
    background-color: linen;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: linen;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 16px 20px;
    font-size: 1.3em;
}

nav li a:hover {
    background-color: rgb(211, 202, 193);
}

/*
==============================================================
==============================================================
Article
==============================================================
==============================================================
*/

article h2 {
    border: 2px solid red;
    text-align: center;
    margin-top: 15px;
}